"""
fastapi
uvicorn
python-multipart
opencv-python-headless
mtcnn
keras-facenet
cryptography
qdrant-client #vector database
tensorflow
scipy
django
djangorestframework
mediapipe
numpy
scikit-learn
pytz
"""


"""fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9

django==4.2.7
djangorestframework==3.14.0

opencv-python-headless==4.9.0.80
mediapipe==0.10.9
mtcnn==0.1.1

keras-facenet==0.3.2
tensorflow==2.15.0

numpy==1.24.3
scipy==1.11.4
scikit-learn==1.3.2

qdrant-client==1.7.3

cryptography==42.0.5
pytz==2024.1
"""