<!DOCTYPE html>
<html>
<head>
    <title>Smart Attendance System</title>
</head>
<body>

<h2>AI Face Attendance</h2>

<video id="preview" width="400" autoplay muted></video>
<br><br>

<button id="startBtn" onclick="startCamera()">Start Camera</button>
<button id="markBtn" onclick="markAttendance()" disabled>Mark Attendance</button>

<p id="status">Idle</p>

<script>
let stream = null;
let isProcessing = false;

async function startCamera() {
    try {
        stream = await navigator.mediaDevices.getUserMedia({ video: true });
        document.getElementById("preview").srcObject = stream;
        document.getElementById("status").innerText = "Camera started";
        document.getElementById("markBtn").disabled = false;
    } catch (err) {
        console.error(err);
        document.getElementById("status").innerText = "Camera access denied";
    }
}

function captureFrame() {
    const video = document.getElementById("preview");
    const canvas = document.createElement("canvas");
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    const ctx = canvas.getContext("2d");
    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

    return new Promise(resolve => {
        canvas.toBlob(blob => {
            resolve(blob);
        }, "image/jpeg");
    });
}

async function markAttendance() {
    if (isProcessing) return;
    isProcessing = true;

    document.getElementById("status").innerText = "Checking liveness...";

    const formData = new FormData();

    for (let i = 0; i < 6; i++) {  // ~2 seconds
        const blob = await captureFrame();
        formData.append("files", blob, `frame_${i}.jpg`);
        await new Promise(r => setTimeout(r, 300));
    }

    document.getElementById("status").innerText = "Verifying face...";

    const response = await fetch("http://127.0.0.1:8001/verify-face/", {
        method: "POST",
        body: formData,
        signal: AbortSignal.timeout(100000) // 10 sec safety
    });

    const result = await response.json();
    document.getElementById("status").innerText = result.message;

    isProcessing = false;
}

</script>

</body>
</html>
